* {
    padding: 0;
    margin: 0;
}

header {
   
    
    font-family: 'Carter One', cursive;
    display: flex;
    flex-direction: column;
    
}

.title {
    height: 100vh;
    text-align: center;
     align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
    
.arrow-container {
    
    background-color: black;
    height: 150px;
    width: 100vw;
    color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  

}
.arrow {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQjLC-4_6Io0Bf5NwUfiUpaujfJC150VsOZ6G7kLK5VstDfX8gG);
    background-size: cover;
    --size: .3;
    padding-left: calc(var(--size) * 272px);
    height: calc(var(--size) * 185px);
    width: 0;
    overflow: hidden;
    
}
.question{
    height: 100vh;
    font-size: 2rem;
}




.intro {
    height: 100vh;
    ;
}

.intro-Titre {
    font-family: 'Carter One', cursive;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
}
.intro-Content {
    font-family: 'Carter One', cursive; 
    text-align: center;
    padding-top: 3rem;
    font-size: 0.8rem;
    padding: 1rem;
}


footer
{
 display: flex;
 text-align:justify-all ;
 
 
}

.footer-section1 {
    margin-right: auto;
    text-align: left;
    
}
 .footer-section2 {
    margin-left: auto; 
    text-align: right;
 }

.modal-footer[open] .modal-button::before {
  content: '';
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  
}

.modal-title-footer{
    list-style-type: none;
    margin: auto;
    
}

    
.modal-button-contact-us {
  list-style-type: none;
  max-width: 100%;
  font-size: small;
  
}

.modal-footer[open] .modal-content-footer {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: grey;
  border: 3mm ridge rgba(255, 60, 0, 0.89) ;
  text-align: justify;
  max-height: 100vh;
  width: 50vh;
}

.text-area-footer {
  height: 30vh ;
  width: 50vh;
}

.modal-content-texte {
    font-size: x-small;
    text-align: justify;
}

.wildlogo  {
    max-width: 100%;
}

.modal-title-footer{
    max-height: 100vh;
  width: 50vh;

}


.modal-button-modality {
    list-style: none;
    max-width: 100%;
    font-size: small;
}
